@font-face {
    font-family: 'HeadingNow';
    src: url('/src/assets/fonts/headingnow/HeadingNow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HeadingNow';
    src: url('/src/assets/fonts/headingnow/HeadingNow-Regular.ttf') format('truetype');
    font-weight: medium;
    font-style: medium;
  }
  
  @font-face {
    font-family: 'HeadingNow';
    src: url('/src/assets/fonts/headingnow/HeadingNow-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
  }
  