
.header{
    display: flex;
    background-color: white;
    max-height: 69px;
    overflow: hidden;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.header .logo{
    height: 100%;
}
.header .logo img{
    height: 50px;

}

.navbar{
    display: flex;
    gap: 2em;
}